<div class="navbar bg-base-200">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 navbar-dropdown">
        <li><a href="#home">Home</a></li>
        <li>
          <a>Our Services</a>
          <ul class="p-2">
            <li><a href="#services">Social Media Advertising</a></li>
            <li><a href="#services">Local SEO</a></li>
            <li><a href="#services">E-commerce Optimization</a></li>
            <li><a href="#services">Email Automation</a></li>
            <li><a href="#services">Content Creation</a></li>
            <li><a href="#services">Web Analytics</a></li>
          </ul>
        </li>
        <li><a href="#about">About Us</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">MarketingEXL</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 navbar-dropdown">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li>
        <details>
          <summary>Our Services</summary>
          <ul class="p-2">
            <li><a href="#services">Social Media Advertising</a></li>
            <li><a href="#services">Local SEO</a></li>
            <li><a href="#services">E-commerce Optimization</a></li>
            <li><a href="#services">Email Automation</a></li>
            <li><a href="#services">Content Creation</a></li>
            <li><a href="#services">Web Analytics</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-primary btn-sm" href="#map">Contact Us</a>
  </div>
</div>
<section id="hero" class="dark:bg-base-200 bg-base-200 transition-opacity duration-700 ease-in-out">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <a href="#map" data-aos="slide-down"
      class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
      role="alert">
      <span class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3">New</span> <span
        class="text-sm font-medium">Our platform is live! See more details with what it has to offer ...</span>
      <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
    <h1 data-aos="slide-down"
      class="mb-4 text-4xl font-extrabold md:text-5xl lg:text-6xl dark:text-white">
      Welcome to MarketingEXL</h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
      Where Your Brand's Potential Becomes Achievement
    </p>
    <div class="flex flex-col sm:flex-row mb-8 mt-8 justify-center items-center">
      <a href="#about"
        class="btn bg-gradient-to-l hover:bg-gradient-to-r from-cyan-600 to-blue-600 btn btn-wide my-2 sm:my-0 sm:mr-2 hover:scale-105 transition-transform duration-300">Get Started</a>
      <a href="#services"
        class="btn bg-gradient-to-l hover:bg-gradient-to-r from-violet-600 to-fuchsia-600 btn btn-wide my-2 sm:my-0 sm:ml-2 hover:scale-105 transition-transform duration-300">Learn More</a>
    </div>
    <div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
      <span class="font-semibold text-gray-400">At MarketingEXL, we don't just amplify your digital presence; we transform it into a powerhouse of engagement, growth, and unparalleled success. As the digital landscape evolves, your brand requires a navigator that not only understands the journey but also masters the paths to dominance. Welcome aboard!</span>
      <div class="flex flex-wrap justify-center items-center mt-8 text-gray-500">
        <div class="mockup-code">
          <pre data-prefix="$"><code>Have new ideas? Want us to help you?</code></pre>
          <pre data-prefix=">" class="text-warning"><code>Reach out to us...</code></pre>
          <pre data-prefix=">" class="text-success"><code>and its done!</code></pre>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="bg-gray-100 dark:bg-gray-800 transition-opacity duration-700 ease-in-out">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <h2 data-aos="slide-down"
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      About us</h2>
    <div class="hero-content flex-col lg:flex-row" data-aos="fade">
      <div class="mb-8">
        <img src="assets/images/legacy/our-mission.webp" alt="Who we are?" class="mx-auto  rounded-lg shadow-lg">
      </div>
      <p class="mb-6 text-lg text-left font-normal text-gray-500 lg:text-lg dark:text-gray-400">
        Our journey began with a fundamental belief: every brand possesses a story deserving of an audience.Inspired by the thought, we set out to empower organisations to share their Brand Story through the digital landscape. From the very beginning, our mission has been to transform the landscape of digital marketing, making it more accessible, effective, and beneficial for businesses across the spectrum.
      </p>
    </div>
    <div class="hero-content flex-col lg:flex-row">
      <div class="card lg:card-side bg-base-100 shadow-xl hover:scale-105 transition-transform duration-300" data-aos="fade">
        <figure><img src="assets/images/legacy/our-values.webp" alt="Our Values" /></figure>
        <div class="card-body">
          <h2 class="card-title">Our Values</h2>
          <p class="text-left">At the heart of MarketingEXL lies a set of core values that guide everything we do. These
            values include integrity, creativity, innovation, and a passion for excellence. We believe that by staying
            true to these values, we can deliver exceptional results for our clients.</p>
        </div>
      </div>
      <div class="card lg:card-side bg-base-100 shadow-xl hover:scale-105 transition-transform duration-300" data-aos="fade">
        <figure><img src="assets/images/legacy/our-team.webp" alt="Our Team" /></figure>
        <div class="card-body">
          <h2 class="card-title">Our Team</h2>
          <p class="text-left">Our team is made up of marketing experts with years of experience in the industry. We are
            passionate about what we do, and we take pride in our ability to stay ahead of the curve when it comes to
            marketing trends and strategies. Meet our team and discover how we can help your business grow.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="dark:bg-base-200 py-12 transition-opacity duration-700 ease-in-out">
  <div class="container mx-auto px-6">
    <h2 class="text-center text-3xl font-bold text-base-content mb-8" data-aos="slide-down">
      Our Services
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <div class="card bg-base-100 shadow-xl hover:scale-105 transition-transform duration-300" data-aos="fade">
        <figure><img src="assets/images/legacy/sma.webp" alt="Service 1"></figure>
        <div class="card-body">
          <h3 class="card-title">Social Media Advertising</h3>
          <p class="text-left">Our team of social media experts will create and manage your social media advertising
            campaigns, targeting the right audience and maximizing your ROI. We'll help you drive more leads and sales
            while keeping your advertising budget in check.</p>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl hover:scale-105 transition-transform duration-300" data-aos="fade">
        <figure><img src="assets/images/legacy/seo.webp" alt="Service 1"></figure>
        <div class="card-body">
          <h3 class="card-title">Local SEO</h3>
          <p class="text-left">We'll optimize your website for local search, ensuring that your business appears in
            local search results. Our team will also help you manage and improve your online reputation, increasing your
            credibility and visibility in your local market.</p>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl hover:scale-105 transition-transform duration-300" data-aos="fade">
        <figure><img src="assets/images/legacy/e-comm.webp" alt="Service 1"></figure>
        <div class="card-body">
          <h3 class="card-title">E-commerce Optimization</h3>
          <p class="text-left">We'll help you optimize your e-commerce website for conversions, ensuring that your
            customers have a seamless and enjoyable shopping experience. Our team will also help you increase your
            average order value and customer lifetime value.</p>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl hover:scale-105 transition-transform duration-300" data-aos="fade">
        <figure><img src="assets/images/legacy/email-auto.webp" alt="Service 1"></figure>
        <div class="card-body">
          <h3 class="card-title">Email Automation</h3>
          <p class="text-left">We'll help you automate your email campaigns, increasing your efficiency and
            effectiveness in reaching your target audience. Our team will also help you segment your audience and create
            targeted campaigns that drive engagement and conversions.</p>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl hover:scale-105 transition-transform duration-300" data-aos="fade">
        <figure><img src="assets/images/legacy/content-creation.webp" alt="Service 1"></figure>
        <div class="card-body">
          <h3 class="card-title">Content Creation</h3>
          <p class="text-left">Our team of content creators will help you develop high-quality content that drives
            traffic and engagement. From blog posts to social media content, we'll ensure that your content is always on
            brand and tailored to your audience.</p>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl transition-transform duration-300" data-aos="fade">
        <figure><img src="assets/images/legacy/web-analytics.webp" alt="Service 1"></figure>
        <div class="card-body">
          <h3 class="card-title">Web Analytics</h3>
          <p class="text-left">We'll help you track and analyze your website traffic, user behavior, and conversion
            rates, providing you with actionable insights that will help you improve your online presence. Our team will
            also provide regular reports and recommendations for improvement.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="map" class="dark:bg-gray-800 body-font relative mt-4 mb-4 transition-opacity duration-700 ease-in-out">
  <div class="absolute inset-0 bg-gray-300">
    <iframe frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14023.922732108613!2d77.3806253!3d28.5102289!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce937dd33a677%3A0xf2482b431fe4c606!2sATS%20BOUTIQUE!5e0!3m2!1sen!2sin!4v1714845950859!5m2!1sen!2sin"
      width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="container px-5 py-24 mx-auto flex">
    <div class="lg:w-1/3 md:w-1/2 rounded-lg flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
      <div class="card w-96 bg-base-100 shadow-xl" data-aos="fade">
        <div class="card-body">
          <h2 class="card-title">Let's Get Started</h2>
          <p>Take the first step, and contact us to discuss your marketing and business goals. Send us a message, and we
            will get back to you soon.</p>
          <div class="card-actions justify-start">
            <a href="https://wa.me/16025182599" target="_blank" class="btn btn-primary btn-sm">
              <i class="fab text-2xl fa-whatsapp"></i>Message us on WhatsApp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<nav id="header" class="px-10 py-2 flex justify-start">
  <h6 class="footer-title">All Services</h6>
</nav> 
<footer class="footer px-10 bg-base-200 text-base-content">
  <nav>
    <a href="#services" class="link link-hover">Social media Management</a>
    <a href="#services" class="link link-hover">SEO</a>
    <a href="#services" class="link link-hover">PPC Advertising</a>
    <a href="#services" class="link link-hover">Email Marketing</a>
    <a href="#services" class="link link-hover">Web design and Development</a>
  </nav>
  <nav>
    <a href="#services" class="link link-hover">Logo and Branding</a>
    <a href="#services" class="link link-hover">Copywriting</a>
    <a href="#services" class="link link-hover">Content Marketing</a>
    <a href="#services" class="link link-hover">Influencer Marketing</a>
    <a href="#services" class="link link-hover">PR</a>
  </nav>
  <nav>
    <a href="#services" class="link link-hover">Political Marketing</a>
    <a href="#services" class="link link-hover">Offline Marketing</a>
    <a href="#services" class="link link-hover">Google Ads, Facebook & meta-Ads, LinkedIn Ads</a>
    <a href="#services" class="link link-hover">Analytics and conversion rate optimization</a>
  </nav>
</footer>
<footer class="footer p-10 border-t bg-base-200 text-base-content border-base-300">
  <aside class="items-center grid-flow-col">
    <p><b>MarketingEXL</b> <br>ATS BOUQUET, Block B, Sector 132, Noida, Uttar Pradesh, India
      <br><a href="mailto:info@marketingexl.com">info@marketingexl.com</a>
      <br>+91-8178070852
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a href="https://www.instagram.com/marketing_exl" target="_blank">
        <i class="fab text-2xl fa-instagram"></i>
      </a>

        <a href="https://www.facebook.com/marketingexl/" target="_blank"><i class="fab text-2xl fa-linkedin-in"></i></a>
      
         
      <a href="https://www.facebook.com/profile.php?id=61556380227680" target="_blank">
        <i class="fab text-2xl fa-facebook"></i>
      </a>
    </div>
  </nav>
</footer>
<router-outlet></router-outlet>